<mat-toolbar  color="primary" class="top-menu">
  <span><img src="assets/images/logo_republique.png" />data.medicaments.gouv.fr</span>
  <button mat-button [matMenuTriggerFor]="aboveMenu">Pédagogie</button>
  <mat-menu #aboveMenu="matMenu" yPosition="above">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="belowMenu">Analyses thématiques</button>
  <mat-menu #belowMenu="matMenu" yPosition="below">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="beforeMenu">Jeux de données</button>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>


  <button mat-button [matMenuTriggerFor]="afterMenu">API</button>
  <mat-menu #afterMenu="matMenu" xPosition="after">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="afterMenu">Archives</button>
  <mat-menu #afterMenu="matMenu" xPosition="after">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
</mat-toolbar>
